* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-color: #0a0c1c;
}

/*
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/

.card-container {
  margin: 11rem auto;
  max-width: 1110px;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .card-container {
    max-width: 327px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card-column-1 {
  background-color: #1b1937;
  flex-basis: 51%;
  overflow: hidden;
  padding: 6rem 0 6rem 5rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media screen and (max-width: 1000px) {
  .card-column-1 {
    border-radius: 0 0 8px 8px;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 2;
    flex-basis: 70%;
  }
}

.card-text-content {
  width: 70%;
  padding-left: 2.5rem;
}

@media screen and (max-width: 1000px) {
  .card-text-content {
    width: 96%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h1,
h2 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.emphasis {
  color: #ab5cdb;
}

.card-heading {
  font-size: 3.6rem;
  margin-top: 1.8rem;
  margin-bottom: 1.7rem;
}

@media screen and (max-width: 1000px) {
  .card-heading {
    font-size: 2.8rem;
    align-self: center;
    text-align: center;
    width: 100%;
    margin-bottom: 1.7rem;
    margin-top: 0;
  }
}

.card-description {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 6rem;
  line-height: 2.5rem;
}

@media screen and (max-width: 1000px) {
  .card-description {
    width: 90%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-bottom: 2rem;
  }
}

/*
Card Statistics
*/

.card-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

@media screen and (max-width: 1000px) {
  .card-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .card-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 1000px) {
  .card-stat-1,
  .card-stat-2,
  .card-stat-3 {
    padding: 1.5rem;
  }
}

.card-stats-number {
  font-size: 2.4rem;
  padding-bottom: 0.5rem;
}

.card-stats-description {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1.2rem;
}

.card-column-2 {
  background-image: linear-gradient(
      hsla(283.5, 58%, 32%, 0.653),
      hsla(283.5, 58%, 32%, 0.653)
    ),
    url(images/image-header-desktop.jpg);
  filter: contrast(120%);
  background-size: cover;
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  flex-basis: 49%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media screen and (max-width: 1000px) {
  .card-column-2 {
    order: 1;
    border-radius: 8px 8px 0 0;
    background-image: linear-gradient(
        hsla(283.5, 58%, 32%, 0.653),
        hsla(283.5, 58%, 32%, 0.653)
      ),
      url(images/image-header-desktop.jpg);
    flex: 0 0 30%;
  }
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1000px) {
  .card-image {
    order: 1;
    height: 25rem;
    width: 33rem;
  }
}
