* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}
body {
  box-sizing: border-box;
  background-color: #0a0c1c;
}

/*
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/

.card-container {
  margin: 8rem auto;
  /* width: 75%; */
  max-width: 1110px;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  border-radius: 8px;
}

/* @media screen and (min-width: 376px) {
  .card-container {
  }
} */

.card-column-1 {
  background-color: #1b1937;
  flex-basis: 52%;
  overflow: hidden;
  padding: 6rem 0 6rem 5rem;
}

.card-text-content {
  width: 70%;
}

h1,
h2 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.emphasis {
  color: #ab5cdb;
}

.card-heading {
  font-size: 3rem;
  margin-bottom: 1.7rem;
}

.card-description {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 4.5rem;
  line-height: 2.5rem;
}

/*
Card Statistics
*/

.card-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-stats-number {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.card-stats-description {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: hsla(0, 0%, 100%, 0.75);
}

.card-column-2 {
  background-image: linear-gradient(
      hsla(277, 90%, 50%, 0.4),
      hsla(277, 90%, 50%, 0.4)
    ),
    url(/images/image-header-desktop.jpg);
  background-size: cover;
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  flex-basis: 48%;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
